<div [ngClass]="getClass(index)" class="row no-margin">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div *ngIf="goal.frequency === 1 && goal.period === 1">
          <h3>{{ goal.name }} every day</h3>
        </div>
        <div *ngIf="goal.frequency !== 1 || goal.period !== 1">
          <h3>{{ goal.name }} {{ goal.frequency }} times per {{ goal.period | goalPeriod }}</h3>
        </div>
      </div>
      <div class="col l12 m12 s12">
        <p>{{ goal.description }}</p>
        <div *ngIf="goal.type === 2">
          <p class="date-range">Since {{ goal.startDate | date:"longDate" }}</p>
        </div>
        <div *ngIf="goal.type === 1">
          <p class="date-range">From {{ goal.startDate | date:"longDate" }} to {{ goal.endDate | date:"longDate" }}</p>
        </div>
      </div>
      <div class="col l12 m12 s12">
        <ani-list [goalId]="goal._id" [period]="goal.period"></ani-list>
      </div>
    </div>
  </div>
</div>


